<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cecep.dao.mess.DeviceMapper">
	<resultMap id="BaseResultMap" type="com.cecep.model.mess.Device">
		<id column="bh" property="bh" />
		<result column="mc" property="mc" />
	</resultMap>

	<select id="select" resultMap="BaseResultMap">
		select bh,mc from dbo.st_device where dlx=2
	</select>

</mapper>