<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cecep.dao.TtLizhiMapper" >
  <resultMap id="BaseResultMap" type="com.cecep.model.TtLizhi" >
    <result column="tt_name" property="ttName" jdbcType="NVARCHAR" />
    <result column="tt_order" property="ttOrder" jdbcType="SMALLINT" />
    <result column="tt_1" property="tt1" jdbcType="NVARCHAR" />
    <result column="tt_2" property="tt2" jdbcType="NVARCHAR" />
    <result column="tt_3" property="tt3" jdbcType="NVARCHAR" />
    <result column="tt_5" property="tt5" jdbcType="INTEGER" />
    <result column="gly_no" property="glyNo" jdbcType="NVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cecep.model.TtLizhi" extends="BaseResultMap" >
    <result column="tt_4" property="tt4" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    tt_4
  </sql>
  <insert id="insert" parameterType="com.cecep.model.TtLizhi" >
    insert into dbo.tt_lizhi (tt_name, tt_order, tt_1, 
      tt_2, tt_3, tt_5, gly_no, 
      tt_4)
    values (#{ttName,jdbcType=NVARCHAR}, #{ttOrder,jdbcType=SMALLINT}, #{tt1,jdbcType=NVARCHAR}, 
      #{tt2,jdbcType=NVARCHAR}, #{tt3,jdbcType=NVARCHAR}, #{tt5,jdbcType=INTEGER}, #{glyNo,jdbcType=NVARCHAR}, 
      #{tt4,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cecep.model.TtLizhi" >
    insert into dbo.tt_lizhi
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ttName != null" >
        tt_name,
      </if>
      <if test="ttOrder != null" >
        tt_order,
      </if>
      <if test="tt1 != null" >
        tt_1,
      </if>
      <if test="tt2 != null" >
        tt_2,
      </if>
      <if test="tt3 != null" >
        tt_3,
      </if>
      <if test="tt5 != null" >
        tt_5,
      </if>
      <if test="glyNo != null" >
        gly_no,
      </if>
      <if test="tt4 != null" >
        tt_4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ttName != null" >
        #{ttName,jdbcType=NVARCHAR},
      </if>
      <if test="ttOrder != null" >
        #{ttOrder,jdbcType=SMALLINT},
      </if>
      <if test="tt1 != null" >
        #{tt1,jdbcType=NVARCHAR},
      </if>
      <if test="tt2 != null" >
        #{tt2,jdbcType=NVARCHAR},
      </if>
      <if test="tt3 != null" >
        #{tt3,jdbcType=NVARCHAR},
      </if>
      <if test="tt5 != null" >
        #{tt5,jdbcType=INTEGER},
      </if>
      <if test="glyNo != null" >
        #{glyNo,jdbcType=NVARCHAR},
      </if>
      <if test="tt4 != null" >
        #{tt4,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="load" resultType="java.util.Map" parameterType="com.cecep.model.TtLizhi">
    select tt_name as text, cast(tt_order as nvarchar(20)) as value
    from dbo.tt_lizhi
    order by tt_order
  </select>
</mapper>