<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cecep.dao.XfAcTimeMapper" >
  <resultMap id="BaseResultMap" type="com.cecep.model.XfAcTime" >
    <id column="xh" property="xh" jdbcType="INTEGER" />
    <result column="dev_serial" property="devSerial" jdbcType="CHAR" />
    <result column="ac_type" property="acType" jdbcType="CHAR" />
    <result column="time_max_m" property="timeMaxM" jdbcType="INTEGER" />
    <result column="time_max_t" property="timeMaxT" jdbcType="INTEGER" />
    <result column="day_order" property="dayOrder" jdbcType="INTEGER" />
    <result column="sj" property="sj" jdbcType="TIMESTAMP" />
    <result column="gly_no" property="glyNo" jdbcType="NVARCHAR" />
    <result column="time_no" property="timeNo" jdbcType="CHAR" />
    <result column="lx" property="lx" jdbcType="INTEGER" />
    <result column="day_offset" property="dayOffset" jdbcType="INTEGER" />
    <result column="acdep_serial" property="acdepSerial" jdbcType="INTEGER" />
    <result column="time_sub" property="timeSub" jdbcType="DECIMAL" />
    <result column="discount_rate" property="discountRate" jdbcType="INTEGER" />
    <result column="time_limit" property="timeLimit" jdbcType="INTEGER" />
    <result column="each_unit" property="eachUnit" jdbcType="INTEGER" />
    <result column="regserial" property="regserial" jdbcType="NVARCHAR" />
    <result column="is_timeout" property="isTimeout" jdbcType="INTEGER" />
    <result column="timeout_rate" property="timeoutRate" jdbcType="INTEGER" />
    <result column="ac_time_mould" property="acTimeMould" jdbcType="INTEGER" />
    <result column="ac_sub_auto" property="acSubAuto" jdbcType="INTEGER" />
    <result column="time_eachsub" property="timeEachsub" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    xh, dev_serial, ac_type, time_max_m, time_max_t, day_order, sj, gly_no, time_no, 
    lx, day_offset, acdep_serial, time_sub, discount_rate, time_limit, each_unit, regserial, 
    is_timeout, timeout_rate, ac_time_mould, ac_sub_auto, time_eachsub
  </sql>
  <resultMap id="XfAcTimeResultMap" type="com.cecep.model.XfAcTime"  extends="BaseResultMap" >
  	<result column="ac_name" property="acName" jdbcType="NVARCHAR" />
  	<result column="lname" property="lname" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="XfAcTime_Column_List" >
    dbo.xf_ac_time.xh, dbo.xf_ac_time.dev_serial, dbo.xf_ac_time.ac_type, dbo.xf_ac_time.time_max_m, dbo.xf_ac_time.time_max_t, dbo.xf_ac_time.day_order, dbo.xf_ac_time.sj, dbo.xf_ac_time.gly_no, dbo.xf_ac_time.time_no, 
    dbo.xf_ac_time.lx, dbo.xf_ac_time.day_offset, dbo.xf_ac_time.acdep_serial, dbo.xf_ac_time.time_sub, dbo.xf_ac_time.discount_rate, dbo.xf_ac_time.time_limit, dbo.xf_ac_time.each_unit, dbo.xf_ac_time.regserial, 
    dbo.xf_ac_time.is_timeout, dbo.xf_ac_time.timeout_rate, dbo.xf_ac_time.ac_time_mould, dbo.xf_ac_time.ac_sub_auto, dbo.xf_ac_time.time_eachsub
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select <include refid="Base_Column_List" />
    from dbo.xf_ac_time
    where xh = #{xh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dbo.xf_ac_time
    where xh = #{xh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cecep.model.XfAcTime" >
    insert into dbo.xf_ac_time (dev_serial, ac_type, 
      time_max_m, time_max_t, day_order, 
      sj, gly_no, time_no, 
      lx, day_offset, acdep_serial, 
      time_sub, discount_rate, time_limit, 
      each_unit, regserial, is_timeout, 
      timeout_rate, ac_time_mould, ac_sub_auto, 
      time_eachsub)
    values (#{devSerial,jdbcType=CHAR}, #{acType,jdbcType=CHAR}, 
      #{timeMaxM,jdbcType=INTEGER}, #{timeMaxT,jdbcType=INTEGER}, 1, 
      getdate(), #{glyNo,jdbcType=NVARCHAR}, #{timeNo,jdbcType=CHAR}, 
      0, #{dayOffset,jdbcType=INTEGER}, #{acdepSerial,jdbcType=INTEGER}, 
      0, 100, #{timeLimit,jdbcType=INTEGER}, 
      0, #{regserial,jdbcType=NVARCHAR}, #{isTimeout,jdbcType=INTEGER}, 
      #{timeoutRate,jdbcType=INTEGER}, #{acTimeMould,jdbcType=INTEGER}, #{acSubAuto,jdbcType=INTEGER}, 
      0)
  </insert>
  <insert id="insertSelective" parameterType="com.cecep.model.XfAcTime" >
    <selectKey resultType="java.lang.Integer" keyProperty="xh" order="BEFORE" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into dbo.xf_ac_time
    <trim prefix="(" suffix=")" suffixOverrides="," >
      xh,
      <if test="devSerial != null" >
        dev_serial,
      </if>
      <if test="acType != null" >
        ac_type,
      </if>
      <if test="timeMaxM != null" >
        time_max_m,
      </if>
      <if test="timeMaxT != null" >
        time_max_t,
      </if>
      <if test="dayOrder != null" >
        day_order,
      </if>
      <if test="sj != null" >
        sj,
      </if>
      <if test="glyNo != null" >
        gly_no,
      </if>
      <if test="timeNo != null" >
        time_no,
      </if>
      <if test="lx != null" >
        lx,
      </if>
      <if test="dayOffset != null" >
        day_offset,
      </if>
      <if test="acdepSerial != null" >
        acdep_serial,
      </if>
      <if test="timeSub != null" >
        time_sub,
      </if>
      <if test="discountRate != null" >
        discount_rate,
      </if>
      <if test="timeLimit != null" >
        time_limit,
      </if>
      <if test="eachUnit != null" >
        each_unit,
      </if>
      <if test="regserial != null" >
        regserial,
      </if>
      <if test="isTimeout != null" >
        is_timeout,
      </if>
      <if test="timeoutRate != null" >
        timeout_rate,
      </if>
      <if test="acTimeMould != null" >
        ac_time_mould,
      </if>
      <if test="acSubAuto != null" >
        ac_sub_auto,
      </if>
      <if test="timeEachsub != null" >
        time_eachsub,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{xh,jdbcType=INTEGER},
      <if test="devSerial != null" >
        #{devSerial,jdbcType=CHAR},
      </if>
      <if test="acType != null" >
        #{acType,jdbcType=CHAR},
      </if>
      <if test="timeMaxM != null" >
        #{timeMaxM,jdbcType=INTEGER},
      </if>
      <if test="timeMaxT != null" >
        #{timeMaxT,jdbcType=INTEGER},
      </if>
      <if test="dayOrder != null" >
        #{dayOrder,jdbcType=INTEGER},
      </if>
      <if test="sj != null" >
        #{sj,jdbcType=TIMESTAMP},
      </if>
      <if test="glyNo != null" >
        #{glyNo,jdbcType=NVARCHAR},
      </if>
      <if test="timeNo != null" >
        #{timeNo,jdbcType=CHAR},
      </if>
      <if test="lx != null" >
        #{lx,jdbcType=INTEGER},
      </if>
      <if test="dayOffset != null" >
        #{dayOffset,jdbcType=INTEGER},
      </if>
      <if test="acdepSerial != null" >
        #{acdepSerial,jdbcType=INTEGER},
      </if>
      <if test="timeSub != null" >
        #{timeSub,jdbcType=DECIMAL},
      </if>
      <if test="discountRate != null" >
        #{discountRate,jdbcType=INTEGER},
      </if>
      <if test="timeLimit != null" >
        #{timeLimit,jdbcType=INTEGER},
      </if>
      <if test="eachUnit != null" >
        #{eachUnit,jdbcType=INTEGER},
      </if>
      <if test="regserial != null" >
        #{regserial,jdbcType=NVARCHAR},
      </if>
      <if test="isTimeout != null" >
        #{isTimeout,jdbcType=INTEGER},
      </if>
      <if test="timeoutRate != null" >
        #{timeoutRate,jdbcType=INTEGER},
      </if>
      <if test="acTimeMould != null" >
        #{acTimeMould,jdbcType=INTEGER},
      </if>
      <if test="acSubAuto != null" >
        #{acSubAuto,jdbcType=INTEGER},
      </if>
      <if test="timeEachsub != null" >
        #{timeEachsub,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cecep.model.XfAcTime" >
    update dbo.xf_ac_time
    <set >
       <if test="timeLimit != null" >
        time_limit = #{timeLimit,jdbcType=INTEGER},
      </if>
      <if test="timeMaxM != null" >
        time_max_m = #{timeMaxM,jdbcType=INTEGER},
      </if>
      <if test="timeMaxT != null" >
        time_max_t = #{timeMaxT,jdbcType=INTEGER},
      </if>
      <if test="sj != null" >
        sj = #{sj,jdbcType=TIMESTAMP},
      </if>
      <if test="sj == null" >
        sj = getdate(),
      </if>
      <if test="glyNo != null" >
        gly_no = #{glyNo,jdbcType=NVARCHAR},
      </if>   
    </set>
    where xh = #{xh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cecep.model.XfAcTime" >
    update dbo.xf_ac_time
    set dev_serial = #{devSerial,jdbcType=CHAR},
      ac_type = #{acType,jdbcType=CHAR},
      time_max_m = #{timeMaxM,jdbcType=INTEGER},
      time_max_t = #{timeMaxT,jdbcType=INTEGER},
      day_order = #{dayOrder,jdbcType=INTEGER},
      sj = #{sj,jdbcType=TIMESTAMP},
      gly_no = #{glyNo,jdbcType=NVARCHAR},
      time_no = #{timeNo,jdbcType=CHAR},
      lx = #{lx,jdbcType=INTEGER},
      day_offset = #{dayOffset,jdbcType=INTEGER},
      acdep_serial = #{acdepSerial,jdbcType=INTEGER},
      time_sub = #{timeSub,jdbcType=DECIMAL},
      discount_rate = #{discountRate,jdbcType=INTEGER},
      time_limit = #{timeLimit,jdbcType=INTEGER},
      each_unit = #{eachUnit,jdbcType=INTEGER},
      regserial = #{regserial,jdbcType=NVARCHAR},
      is_timeout = #{isTimeout,jdbcType=INTEGER},
      timeout_rate = #{timeoutRate,jdbcType=INTEGER},
      ac_time_mould = #{acTimeMould,jdbcType=INTEGER},
      ac_sub_auto = #{acSubAuto,jdbcType=INTEGER},
      time_eachsub = #{timeEachsub,jdbcType=INTEGER}
    where xh = #{xh,jdbcType=INTEGER}
  </update>
  
  <select id="selectByPage" resultMap="XfAcTimeResultMap" parameterType="com.cecep.model.XfAcTime" >
   	select u.*
   	from ( 	
		    select row_number() over(order by dbo.xf_ac_time.xh) as rowNumber,<include refid="XfAcTime_Column_List" /> ,dbo.dt_ac_type.ac_name as ac_name, dbo.xf_time.lname as lname 
		    from dbo.xf_ac_time
		    left join dbo.dt_ac_type
		    on dbo.xf_ac_time.ac_type = dbo.dt_ac_type.ac_bh
		    left join dbo.xf_time
		    on dbo.xf_ac_time.time_no = dbo.xf_time.bh
			where	lx = 0
		    	<if test="acType != null and acType != ''" >
		        	and dbo.xf_ac_time.ac_type = #{acType}
		      	</if>
		      	<if test="timeNo != null and timeNo != ''" >
		        	and dbo.xf_ac_time.time_no = #{timeNo}
		      	</if> ) as u		   
	<where>
			<if test="start != null and rows != null"> 
				<![CDATA[ u.rowNumber >= #{start} and u.rowNumber < (#{rows} + #{start})]]> 
			</if>
	</where>	
  </select>
  <select id="selectCount" resultType="java.lang.Integer" parameterType="com.cecep.model.XfAcTime" >   
    select count(1)
    from dbo.xf_ac_time
    left join dbo.dt_ac_type
    on dbo.xf_ac_time.ac_type = dbo.dt_ac_type.ac_bh
    left join dbo.xf_time
    on dbo.xf_ac_time.time_no = dbo.xf_time.bh
	where	lx = 0
	    	<if test="acType != null and acType != ''" >
	        	and dbo.xf_ac_time.ac_type = #{acType}
	      	</if>
	      	<if test="timeNo != null and timeNo != ''" >
	        	and dbo.xf_ac_time.time_no = #{timeNo}
	      	</if> 
  </select>
  
  <select id="selectIsAdd" resultType="java.lang.Integer" parameterType="com.cecep.model.XfAcTime" >
    select count(1)
    from dbo.xf_ac_time
    where ac_type = #{acType,jdbcType=CHAR} and time_no = #{timeNo,jdbcType=CHAR}
  </select>
</mapper>